@using (Ajax.BeginForm("PesquisarCadastro","ProcedimentoAdm", new AjaxOptions { UpdateTargetId = "CadastroLookupGrid", InsertionMode = InsertionMode.Replace}))
{

    <br /> 
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <label for="CadastroLookupPesquisa">@Html.DisplayName("Razão social, Fantasia ou CNPJ")</label>
                @Html.TextBox("CadastroLookupPesquisa", "", new { @class = "form-control" })
            </div>
        </div>

    </div>
    <hr />
    <button  id="loading-btn" class="btn btn-success" data-loading-text="Loading..." type="submit">@Html.T("btbConsultar")</button>
}
<hr />
<div id="CadastroLookupGrid"></div>
